@media(max-width:1055px) {
    .header__bottom {
        flex-direction: column;
        align-items: center;
    }

    .nav__content {
        gap: 50px;
    }

    .header__bottom-right {
        align-items: center;
        padding-bottom: 10px;
    }
}

@media(max-width:999px) {
    .header__bottom {
        padding-top: unset;
    }

    .why__list {
        width: 350px;
        height: 237px;
    }

    .why__item {
        justify-content: center;
    }

    .examples__card-list {
        padding-left: 20px;
        width: 257px;
        height: 204px;
        gap: 20px;
    }

    .why__title {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .why__are {
        background: #1773BA;
        padding-bottom: 50px;
    }

    .examples {
        padding: 50px 0;
    }

    .clients {
        padding: 50px 0;
    }

    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 50px 0;
    }

    .project__card {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 44px;
        width: 881px;
        padding: 15px 0;
        height: unset;
        background: #FFFFFF;
        border: 0.5px solid #EBEDEE;
        box-shadow: 0px 15px 20px rgb(0 0 0 / 5%);
        border-radius: 10px;
        padding-left: 0px;
    }

    .clients__logo {
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    .clients__title {
        font-weight: 700;
        font-size: 27px;
        line-height: 40px;
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 20px;
    }

    .nav__two-content {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 22px 0;
    }

    .nav__content {
        gap: 20px;
    }

    .header__nav {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .nav__item {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .industry {
        width: unset;
        height: unset;
        background: #FFFFFF;
        box-shadow: 0px 15px 20px rgb(0 0 0 / 5%);
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        padding: 34px 40px 40px 66px;
        gap: 65px;
        margin-bottom: 80px;
        margin: 20px 20px 80px;
    }
}

@media(max-width:881px) {
    .project__card {
        width: 800px;
    }
}

@media(max-width:844px) {
    .examples__card {
        flex-wrap: wrap;
    }

    .application__input {
        padding: 22px 188px 22px 27px;
    }

    .application__link {
        width: 320px;
        padding: unset;
    }
}

@media(max-width:800px) {
    .project__card {
        width: 90%;
        flex-direction: column;
    }

    .nav__item {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        backdrop-filter: blur(15px);
        bottom: 0;
        box-shadow: -1px 1px 14px 7px;
        transform: translateX(120%);
        transition: 0.5s linear;
        z-index: 1;
        gap: 20px;
        padding: 30px;
    }

    .menu__btn {
        display: block;
    }

    .menu__btn:focus+.nav__item {
        transform: translateX(0);
    }

    .nav__link {
        
        padding: 8px 15px;

    }
    .nav__link:hover {
        border-bottom: 1px solid #15ada2;
      

    }

}

@media(max-width:571px) {
    .nav__contact {
        font-weight: 500;
        font-size: 12px;
        line-height: 11px;
        text-align: center;
        color: #1773BA;
        border: 1px solid #1773BA;
        filter: drop-shadow(0px 4px 20px rgba(23, 115, 186, 0.1));
        border-radius: 4px;
        padding: 10px 30px;
    }

    .center__text {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        width: unset;
        height: unset;
        text-align: center;
        padding: 15px 0;
    }

    .bottom__text {
        text-align: center;
        font-size: 14px;
        line-height: 140%;
        color: #363636;
        width: unset;
        height: unset;
        margin-bottom: 26px;
    }

    .header__nav {
        flex-direction: column;
        align-items: center;
        gap: unset;
        padding-top: 15px;
    }

    .nav__two-content {
        padding: 15px 0;
    }
}

@media(max-width:480px) {
    .header__bottom-img {
        width: 100%;
    }

    .project__title {
        font-size: 23px;
        line-height: 5px;
    }

    .project__text {
        width: 257px;
        height: 58px;
        font-size: 17px;
        line-height: 100%;
    }

    .project__contact-text {
        font-size: 14px;
        line-height: 100%;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .application__input {
        padding: 15px 112px 15px 11px;
    }

    .application__link {
        width: 280px;
        padding: unset;
    }

    .application__text-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #363636;
        width: unset;
        height: unset;
        text-align: center;
    }

    .hetader__btn {
        font-size: 14px;
        line-height: 14px;
        padding: 16px 21px;
        width: unset;
        height: unset;
    }

    .application__from {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

@media(max-width:400px) {
    .header__bottom-img {
        width: 64%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .project__title {
        font-size: 18px;
        line-height: 10px;
    }

    .project__text {
        width: 257px;
        height: 26px;
        font-size: 14px;
        line-height: 100%;
    }

    .project__contact-text {
        font-size: 13px;
        line-height: 100%;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .application__input {
        padding: 11px 74px 11px 9px;
    }

    .application__link {
        font-size: 14px;
        width: 218px;
        padding: unset;
    }

    .application__text-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #363636;
        width: unset;
        height: unset;
        text-align: center;
    }

    .hetader__btn {
        font-size: 14px;
        line-height: 14px;
        padding: 16px 21px;
        width: unset;
        height: unset;
    }

    .examples__title {
        font-size: 24px;
        line-height: 0px;
    }

    .examples__card-title {
        font-size: 15px;
    }

    .examples__link {
        font-size: 15px;
    }

    .clients__img {
        height: 76px;
        max-width: 132px;
    }

    .clients__title {
        font-size: 24px;
    }

    .why__list {
        width: 300px;
        height: 203px;
    }

    .list__title {
        font-size: 21px;
    }

    .why__text {
        text-align: center;
        width: unset;
    }
}